/* Barra de desplazamiento */
body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(127, 212, 191, .5);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(112, 198, 255);    
    border-radius: 20px;       
    border: 3px solid rgb(109, 175, 201);  
  }

 /* Navbar */
.navbar{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(182,245,255,1) 50%, rgba(167,255,189,1) 83%);
    box-shadow: 0 0 20px black;
    color: #454545;
}

/* Hover Isologo Prosacode */
.navbar-brand:hover{
    transform: scale(.98);
    transition: transform .2s;
}

/* Botón Navbar */
.nav-item{
    color: #454545;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

/* Botón Hover */
.nav-item::after{
    content: "";
    display: block;
    background-color: #454545;
    width: 70%;
    height: 3px;
    margin-left: 8px;
    margin-top: 1px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

.nav-item:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* Menú desplegable */
.dropdown-item:hover{
    background: rgba(123,228,149,1) !important;
    box-shadow: 0 2px 2px 3px rgba(141, 141, 141, 0.3);
}

.menu-link{
    color: #454545;
    font-weight: bold;
}

.menu-link:hover{
    color: #454545;
    font-weight: bold;
}

/* Cuerpo */
main{
    padding-top: 100px;
}

/*Carousel */
.carousel-caption{
    position: relative;
    left: 0 !important;
    width: 50%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
}
.carousel-text{
    text-align: left;
}

/* Propaganda */
.propaganda{
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

/* Footer */
/* Animación del Isotipo Prosacode */
.logofooter:hover{
    transform: scale(.98);
    transition: transform .2s;
}

/* Links Hover*/
.a:hover{
    font-weight: bold;
    color: rgba(123,228,149,1) !important;
}

/* Redes Sociales */
.redes:hover{
    color: rgba(123,228,149,1) !important;
}

/* Flechita que sube */
.up{
    right: 0%;
    bottom: 15px;
}

.up:hover{
    bottom: 14px;
    color: rgba(123,228,149,1) !important;
}

/* Barra final en degrade */
.barra{
    height: 10px;
    background: linear-gradient(90deg, rgba(123,228,149,1) 47%, rgba(99,188,201,1) 100%);
}